<nav class="navbar navbar-dark - bg-dark">

    <a href="#" class="navbar-brand">Php con Angular</a>

</nav>

<div class="container">
    <h3 class="text-center mt-3"><i class="fas fa-address-book"></i> Agenda de Contactos</h3>
    <button class="btn btn-secondary mb-5" data-toggle="modal" data-target="#agregar"><i class="fas fa-plus"></i> Agregar Contacto</button>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                
                <th scope="col">#</th>
                <th scope="col">Imagen</th>
                <th scope="col">Nombre</th>
                <th scope="col">Telefono</th>
                <th scope="col">Email</th>
                <th scope="col">Acciones</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contacto of contactos; let i=index;">
                <th scope="row">{{i+1}}</th>
                <td *ngIf="contacto.imagen"><img [src]="contacto.imagen | domseguro" class="img-thumbnail imgContacto"> 
                <td *ngIf="!contacto.imagen"><img [src]="noimage" class="img-thumbnail imgContacto">
                </td>
                <td>{{contacto.nombre}}</td>
                <td>{{contacto.telefono}}</td>
                <td>{{contacto.email}}</td>
                <td>
                    <button class="btn btn-secondary mr-2" data-toggle="modal" data-target="#editar" (click)="obtenerUnContacto(contacto.id)"><i class="fas fa-pencil-alt"></i> </button>
                    <button class="btn btn-danger" (click)="eliminarContacto(contacto.id)"> <i class="fas fa-trash-alt"></i> </button>
                </td>
            </tr>

        </tbody>
    </table>

</div>

<!-- Modal Agregar -->
<div class="modal fade" id="agregar" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="staticBackdropLabel"><i class="fas fa-plus"></i> Agregar Contacto</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="cerrarEdit()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="agregarContacto()" [formGroup]="Forma" autocomplete="off">
                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre" required>

                    </div>
                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="Telefono" formControlName="telefono" required>

                    </div>
                    <div class="form-group">

                        <input type="email" class="form-control" placeholder="Email" formControlName="email" required>


                    </div>
                    <div class="form-group">

                        <input type="file" accept="image/*" (change)="seleccionarArchivo($event)" formControlName="imagen">


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="cerrarEdit()" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- Modal Editar -->
<div class="modal fade" id="editar" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="staticBackdropLabel"><i class="fas fa-pencil-alt"></i> Editar Contacto</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="cerrarEdit()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="editarContacto()" [formGroup]="Forma" autocomplete="off">
                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="nombre" formControlName="nombre">

                    </div>
                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="telefono" formControlName="telefono">

                    </div>
                    <div class="form-group">

                        <input type="email" class="form-control" placeholder="email" formControlName="email">


                    </div>
                
                    <div class="form-group">

                        <input type="file" accept="image/*" (change)="seleccionarArchivo($event)" formControlName="imagen">


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="cerrarEdit()" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>